import(XML)
import(RCurl)

export(SPARQL)
export(commonNS)
export(sparqlns)
export(sparqltest)

export(getClasses, getTypes, getPredicates, getPredicatesByClass)

export(getClassPredType)

export(sparqlMetadata)
S3method(plot, SPARQLClassPredType)

